<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <body>
        <main class="main main-project">
            <div class="container container-project">
                <h2 class="heating-project">О продукте</h2>
                <p class="paragraph-project"><span class="excretion big-word-project">Trinetbit</span> - веб приложение, позволяющее получать стабильный пассивный доход.</p>
                <p class="paragraph-project paragraph-project-no-indentation">
                    Мы разработали продукт, идейно близкий хеджфондам, но доступный для всех. 
                </p>
                <p class="paragraph-project">
                    Наша миссия - дать миллионам людей возможность реализовывать их планы и мечты, максимизируя один из главных ресурсов - финансы.
                </p>
                <p class="paragraph-project paragraph-project-big-margin">
                    <span class="excretion">Качеcтво</span> - фундамент любых решений, принимаемых в компании. Оно же стало краеугольным камнем Trinetbit.
                </p>
                <h2 class="heating-project">Из чего формируется качество?</h2>
                <ul class="list-quality-project">
                    <li class="item-quality-project">
                        <div class="first-item-quality-project">
                            <span class="heating-cause">Защищенность.</span>
                            <ul class="list-evidence">
                                <li class="item-evidence">Доступ к Вашему аккаунту биржи есть только у Вас.</li>
                                <li class="item-evidence">Возможность отключения аккаунта от системы в 1 клик.</li>
                                <li class="item-evidence"> Вся информация про торгам дублируется в личном кабинете.</li>
                            </ul>
                        </div>
                        <div class="second-item-quality-project">
                            <span class="heating-cause">Стабильность.</span>
                            <ul class="list-evidence">
                                <li class="item-evidence">Многолетний опыт.</li>
                                <li class="item-evidence">Современные технические и технологические решения.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="item-quality-project">
                        <div class="first-item-quality-project">
                            <span class="heating-cause">Доступность.</span>
                            <ul class="list-evidence">
                                <li class="item-evidence">Не нужно быть проффесионалом.</li>
                                <li class="item-evidence">Финансово низкий порог входа.</li>
                            </ul>
                        </div>
                        <div class="second-item-quality-project">
                            <span class="heating-cause">Удобство.</span>
                            <ul class="list-evidence">
                                <li class="item-evidence">Доступ к приложению в любое время, в любом месте.</li>
                                <li class="item-evidence">Простая и понятная система мониторинга.</li>
                                <li class="item-evidence"> Пассивынй доход.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="item-quality-project">
                        <div class="first-item-quality-project">
                            <span class="heating-cause">Открытость.</span>
                            <ul class="list-evidence">
                                <li class="item-evidence item-evidence-back-img">Мы честны перед клиентом, потому что уверены в качестве своего продукта.</li>
                                <li class="item-evidence">Клиент для нас - человек, а не статистика.</li>
                            </ul>
                        </div>
                        <div class="second-item-quality-project">
                            <span class="heating-cause">Доверительность.</span>
                            <ul class="list-evidence">
                                <li class="item-evidence">Опытная команда.</li>
                                <li class="item-evidence">Прозрачные условия.</li>
                                <li class="item-evidence">Перевод выполняется клиентом.</li>
                                <li class="item-evidence">Используйте сразу - платите потом.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="item-quality-project">
                        <div class="first-item-quality-project">
                            <span class="heating-cause">Скорость.</span>
                            <ul class="list-evidence">
                                <li class="item-evidence">Более быстрый и высокий %, чем по вкладам.</li>
                                <li class="item-evidence">Прибыль с первой недели.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <h2 class="heating-project">Как это работает?</h2>
                <p class="paragraph-project">После регистрации на бирже Вы создаете уникальный ключ доступа. Он состоит из двух элементов: API key и API secret.</p>
                <p class="paragraph-project">
                    Этот функционал предусмотрен самой биржей и создан для того, что бы Вы могли автоматизировать торговые операции. Передав ключ и секрет API, 
                    Вы позволяете площадке Trinetbit торговать на бирже от Вашего лица. <span class="excretion">API не позволяет</span> управлять такими операциями 
                    с кошельком, <span class="excretion">как снятие, перевод или пополнение</span>. Функционал биржи не предусматривает p2p* торговлю, что исключает возможность входа в заведомо 
                    невыгодную для Вас сделку. 
                </p>
                <p class="paragraph-project paragraph-project-midlle-margin">
                    Наша торговая стратегия основана на <span class="excretion">риске от 1 до 3%</span> - это значит, что сумма ни одной сделки не превысит указанный процент от депозита.
                </p>
                <p class="paragraph-project paragraph-project-no-indentation">
                    Подробнее об API Bybit можно прочитать <a class="excretion" href="">тут</a>**.
                </p>
                <p class="paragraph-project">
                    С подробной интрукцией можно ознакомиться <a class="excretion" href="">тут</a>. 
                </p>
                <p class="paragraph-project paragraph-project-little paragraph-project-no-indentation">*PeerToPeer. Торговая операция, проведенная с конкретным лицом.</p>
                <p class="paragraph-project paragraph-project-little paragraph-project-big-margin">**Оффициальный сайт Bybit.</p>
                <h2 class="heating-project">В чем наша выгода?</h2>
                <p class="paragraph-project">
                    В конце каждого рассчетного периода* клиент самостоятельно переводит фиксированный процент от полученной прибыли на наш 
                    счет для продолжения использования системы.
                </p>
                <p class="paragraph-project paragraph-project-no-indentation">
                    При прибыли <span class="excretion">до 10%</span> клиент возвращает 20% и <span class="excretion">оcтавляет 80%</span> себе.
                </p>
                <p class="paragraph-project paragraph-project-no-indentation">
                    При прибыли <span class="excretion">от 10% до 15%</span>, клиент возвращает 30% и <span class="excretion">оставляет 70%</span> себе.
                </p>
                <p class="paragraph-project paragraph-project-midlle-margin">
                    При прибыли <span class="excretion">от 15%</span> клиент возвращает 40% и <span class="excretion">оставляет 60%</span> себе.
                </p>
                <p class="paragraph-project paragraph-project-midlle-margin">
                    Подобная прогрессивная система вознаграждений мотивирует нас показывать более высокие результаты.
                </p>
                <p class="paragraph-project paragraph-project-midlle-margin">
                    Помимо этого клиент регистрирует аккаунт, как партнерский**, что позволяет нам получать вознаграждение от самой биржи.
                </p>
                <p class="paragraph-project paragraph-project-little paragraph-project-no-indentation">*Рассчетным периодом является календарный месяц.</p>
                <p class="paragraph-project paragraph-project-little paragraph-project-big-margin">**Подробнее о партнерской системе читайте на сайте bybit.</p>
                <p class="paragraph-project paragraph-project-midlle-margin paragraph-project-middle">Ознакомьтесь с нашим разделом <a class="heating-project excretion-faq" href="">FAQ</a></p>
                <p class="paragraph-project paragraph-project-midlle-margin paragraph-project-big">Начните получать прибыль.</p>
                <p class="paragraph-project">
                    <a class="excretion" href="">Инструкция</a> с порядком действий.
                </p>
                
            </div>
        </main>
    </body>
{% endblock %}