<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <body>
        <main class="main main-private">
            <div class="container container-private">
                <h1 class="heating-private normal-margin-private">Политика обработки персональных данных.</h1>
                <p class="paragraph-private normal-margin-private">
                    Настоящая политика обработки персональных данных (далее по тексту — «Политика») TRINETBIT (далее по тексту — «Площадка») устанавливает объем, 
                    цели и способы обработки персональных данных пользователей (посетителей) сайта https://trinetbit.com/ (далее по тексту — «Сайт») и публикуется в 
                    открытом доступе в соответствиями с требованиями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных».
                </p>
                <p class="paragraph-private big-margin-private">
                    Настоящая политика обработки персональных данных является частью Пользовательского соглашения, текущая версия которого расположена по адресу 
                    <a href="{% url 'eula' %}" class="excretion">https://trinetbit/EULA</a>.
                </p>
                <p class="paragraph-private heating-item-private normal-margin-private">                   
                    1. Правовые основания обработки персональных данных.
                </p>
                <p class="paragraph-private middle-margin-private"> 
                    Правовыми основаниями обработки персональных данных являются, в частности, части 1, 8 пункта 1 статьи 6 Федерального закона РФ 
                    «О персональных данных».
                </p>
                <p class="paragraph-private heating-item-private normal-margin-private">    
                    2. Согласие Пользователя на обработку персональных данных.
                </p>
                <p class="paragraph-private normal-margin-private">
                    Отправляя сообщение через формы обратной связи, размещенные на Сайте и в Приложениях, Пользователь выражает свое согласие на обработку персональных 
                    данных в определенных настоящей Политикой целях и объеме.
                </p>
                <p class="paragraph-private normal-margin-private">                  
                    Пользователь может подписаться на получение рассылки по электронной почте, если такая возможность предоставляется Сайтом. Рассылка может содержать 
                    сведения о новостях, аналитических материалах, мероприятиях, проводимых Площадкой и тому подобное. Заполняя поле «e-mail» Пользователь дает свое 
                    согласие на получение таких рассылок. Пользователь в любой момент может отозвать свое согласие на получение рассылки. Возможность отписаться от 
                    рассылки предоставляется Пользователю в каждом письме.
                </p>
                <p class="paragraph-private big-margin-private">  
                    С целью отправки сообщений по электронной почте Компания может передавать специализированным сервисам такие персональные данные как адрес электронной 
                    почты.
                </p>
                <p class="paragraph-private heating-item-private normal-margin-private">            
                    3. Цель обработки персональных данных.
                </p>
                <p class="paragraph-private normal-margin-private">
                    Целью обработки персональных данных является предоставление Пользователю возможности использования личного кабинета, организация автоматизированного
                    предоставления Пользователям технических возможностей и сервисов Площадки.
                </p>
                <p class="paragraph-private big-margin-private">     
                    Если Пользователь просто просматривает Сайт, то персональные данные не обрабатываются.
                </p>
                <p class="paragraph-private heating-item-private normal-margin-private">                                
                    4. Объем обрабатываемых персональных данных.
                </p>
                <p class="paragraph-private normal-margin-private">
                    При регистрации профиля на Сайте:
                </p>
                <ul class="list-private paragraph-private">
                    <li>псевдоним (логин),</li>
                    <li>номер BTC кошелька,</li>    
                    <li>API key и API secret, сформированный клиентом на бирже;</li>
                </ul>
                <p class="paragraph-private normal-margin-private">
                    Контакты:
                </p>
                <p class="paragraph-private normal-margin-private paragraph-private-email">    
                        E-mail;
                </p>
                <p class="paragraph-private normal-margin-private">
                    На Сайте используется технологии обработки куки (cookie) — это небольшие текстовые файлы, в которые браузер записывает данные с посещенных 
                    пользователем сайтов. Эти данные служат для сбора информации о действиях посетителей на сайте, для улучшения качества его содержания и возможностей.
                </p>
                <p class="paragraph-private middle-margin-private">
                    В любое время Пользователь можете изменить параметры в настройках своего браузера таким образом, чтобы браузер перестал сохранять все файлы cookie, 
                    а также оповещал их об отправке. В этом случае некоторые сервисы и функции Сайта могут перестать работать или работать некорректно.
                </p>
                <p class="paragraph-private heating-item-private normal-margin-private">                                     
                    5. Конфиденциальность персональных данных.
                </p>
                <p class="paragraph-private middle-margin-private">
                    Компания не раскрывает третьим лицам и не распространяет персональные данные Пользователей без их согласия кроме случаев, предусмотренных 
                    федеральным законом.
                </p>
                <p class="paragraph-private heating-item-private normal-margin-private">                                          
                    6. Срок обработки персональных данных.
                </p>
                <p class="paragraph-private middle-margin-private"> 
                    Предоставленные Пользователем данные обрабатываются бессрочно, либо до момента, когда Пользователь не отзовет свое согласие на обработку 
                    персональных данных, либо не удалит свою учетную запись, либо откажется от рассылки информации, либо до момента прекращения деятельности Сайта.
                </p>
                <p class="paragraph-private heating-item-private normal-margin-private">                                              
                    7. Права субъекта персональных данных.
                </p>
                <p class="paragraph-private normal-margin-private">
                    Субъект персональных данных вправе направить запрос администратору Сайта на получение информации, касающейся обработки его персональных данных в 
                    соответствии с требованиями статьи 14 Федерального закона РФ «О персональных данных».
                </p>
                <p class="paragraph-private middle-margin-private">    
                    Данный запрос может быть направлен по адресам, указанным в разделе «Контакты».
                </p>
                <p class="paragraph-private heating-item-private normal-margin-private">                                               
                    8. Защита персональных данных.
                </p>
                <p class="paragraph-private normal-margin-private">
                    Компания принимает меры, необходимые и достаточные для обеспечения выполнения обязанностей, предусмотренных Федеральным законом «О персональных 
                    данных» и принятыми в соответствии с ним нормативными правовыми актами. Компания самостоятельно определяет состав и перечень мер, необходимых и 
                    достаточных для обеспечения выполнения таких обязанностей.
                </p>
                <p class="paragraph-private normal-margin-private">
                    Доступ к персональным данным имеют только уполномоченные сотрудники Компании. Все сотрудники Компании, имеющие доступ к персональным данным, 
                    должны придерживаться политики по обеспечению конфиденциальности и защиты персональных данных. В целях обеспечения конфиденциальности информации 
                    и защиты персональных данных Компания поддерживает соответствующую ИТ-среду и принимает все меры, необходимые для предотвращения несанкционированного 
                    доступа.
                </p>
                
            </div>
        </main>
    </body>
{% endblock %}