@import "my_common.css";

.policity p {
    font-family: Roboto;
    font-style: normal;
    color:#AEAFC1;
}
.article-item p:first-child, .term {
    font-size: 2em;
}
.article-item p, .term-descr, .contacts {
    font-size: 1.5em;
}
.policity, .eula {
    background: var(--content-block-background-color);
    position: relative;
}
.link {
    text-decoration: none;
    color: #FCB700;
}


ul {
    list-style: none;
    font-style: normal;
    color:#AEAFC1;
    font-size: 1.5em;
}
.article-item {
    margin: 2rem 0rem;
}






