html {
	margin: 0;
    padding: 0;
    height: 100%;
	width: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

li {
    list-style-type: none;
   }

body {
	margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
	font-family: 'Roboto';
}

.bt-resend {
    display: block;
	margin: 0 auto;
}

.header {
	position: fixed;
	z-index: 2000;
	top: 0%;
	width: 100%;
	height: 120px;
	margin: 0;
    background-color: #30353A;
}

.container {
	display: block;
	margin: 0 auto;
	width: 80%;
	min-width: 981px;
	height: 100%;
    text-align: center;
}

.flex-row {
	display: flex;
	align-items: center;
}

.nav {
	margin: 0;
	margin-right: 26px;
	flex-grow: 2;
}

.nav-list {
	margin: 0;
	padding: 0;
	text-align: right;
}

.item-nav {
	display: inline;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 150%;
	color: #AEAFC1;
}

.item-nav:not(:last-child) {
	margin-right: 18px;
}

.logo {
	padding: 38px 0 38px 0;
	background-image: url('/static/images/logo.svg');
	background-repeat: no-repeat;
  	background-position: left center;
  	background-size: 74px 85px;
}

.logo-text {
	padding: 0;
	padding-left: 100px;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 150%;
	color: #FCB700;
}

.bt {
	display: inline;
	margin: 0;
	padding: 0;
	border: 0;
	width: 66px;
	height: 44px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
}

.bt-ru {
	border-radius: 8px 0px 0px 8px;
}

.bt-en {
	margin-left: -3px;
	border-radius: 0px 8px 8px 0px;
}

.bt-on {
	background: #1D202A;
	font-size: 12px;
	color: #AEAFC1;
}

.bt-off {
	background: #FCB700;
	font-size: 16px;
	color: #30353A;
}

.container-main {
	position: relative;
	z-index: 1000;
	width: 1662px;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
}

.main {
	position: relative;
	width: 100%;
	min-width: 1820px;
	height: 100%;
	min-height: 1200px;
	background: #1D202A;
}

.list-label {
	margin: 0;
	margin-bottom: 20px;
	padding: 120px 0 0 0;
	text-align: center;
}

.item-label-list {
	margin: 0;
	margin-bottom: 20px;
}

.label {
	margin: 0;
	padding: 0;
	padding-left: 58px;
	width: 334px;
	height: 70px;
	background: #F2F6FA;
	border-radius: 8px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 160%;
	color: #7E868E;
}

.reauthentication {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: #FCB700;;
}

.label-pass-img {
	margin-right: 20px;
}

.label-pass-img-left {
	margin-left: 20px;
}

.item-label-list:last-child {
	margin: 0;
}

.item-label-list-password {
	padding-left: 65px;
}

.item-label-list-password1-register {
	padding-right: 65px;
}

.item-label-list-password2-register {
	padding-left: 65px;
}


.login-pass {
	padding-top: 22px;
}

.bt-site {
	width: 334px;
	height: 86px;
	align-items: center;
	background: #FCB600;
	border-radius: 8px;
}

.bt-reg {
	margin:0;
	margin-bottom: 72px;
}

.footer {
	margin: 0;
	width: 100%;
	min-width: 1820px;
	background: #30353A;
}

.container-footer {
	margin: auto auto;
	padding: 46px 0;
}

.text-footer {
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 150%;
	align-items: center;
	text-align: center;

	color: #AEAFC1;
}

.domen {
	margin-bottom: 22px;
}

.span-footer {
	margin: 0 43px 0 0;
}

.errorlist {
	margin: 0;
	padding:0;
	padding-right: 3px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	align-items: center;
	color: #AEAFC1;
}

.check-box-contaner {
	margin: 0 auto;
	display: flex;
	position: relative;
	align-items: center;
	width: 566px;
	text-align: left;
}

.check-box-contaner-agreement {
	height: 144px;
}

.check-box-contaner-mailing {
	height: 67px;
}

.check {
	margin: 0;
	padding-left: 40px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	align-items: center;

	color: #AEAFC1;
}

.check_input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.check_box {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 40%;
	margin-left: -40px;
	background: linear-gradient(180deg, #6C6969 0%, #4A4A4A 100%);
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.excretion {
	color: #FCB700;
}

.check_input:checked + .check_box {
	z-index: 1000;
	background-image: url('/static/images/off.svg');
}

.elipse {
	position: absolute;
	background-image: url('/static/images/back.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 500;
	width: 42.65%;
	height: 49%;
	right: 0%;
	top: 51%;
}

.from {
	margin: 0;
	margin-bottom: 30px;
}

.hint {
	position: absolute;
	display: flex;
	z-index: 1000;
	padding: 0;
	align-items: center;
}

.hint-keys {
	width: 460px;
	height: 170px;
	right: 12.2%;
	top: 115px;
}

.text-hint {
	display: inline;
	background: #30353A;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 160%;
	color: #AEAFC1;
	text-align: left;
}

.text-hint-keys {
	width: 416px;
	height: 170px;
	padding: 15px 10px 16px 18px;
}

.container-line {
	display: inline;
	width: 100px;
	height: 160px;
}

.line-keys {
	padding: 0;
	padding-top: 33px;
}

.hint-name {
	width: 460px;
	height: 160px;
	right: 60.1%;
	top: 257px;
}

.text-hint-name {
	padding: 15px 10px 16px 18px;
}

.line-name {
	padding: 0;
	padding-top: 75px;
}

.hint-email {
	width: 460px;
	height: 160px;
	right: 12.1%;
	top: 350px;
}

.text-hint-email {
	padding: 15px 10px 16px 18px;
}

.line-email {
	padding: 0;
	padding-top: 75px;
}

.hint-wallet {
	width: 460px;
	height: 160px;
	right: 60.1%;
	top: 440px;
}

.text-hint-wallet {
	padding: 15px 10px 16px 18px;
}

.line-wallet {
	padding: 0;
	padding-top: 75px;
}

.hint-pass1 {
	width: 460px;
	height: 160px;
	right: 12.1%;
	top: 530px;
}

.text-hint-pass1 {
	padding: 15px 10px 16px 18px;
}

.line-pass1 {
	padding: 0;
	padding-top: 75px;
}

.hint-pass2 {
	width: 416px;
	height: 160px;
	right: 59.8%;
	top: 620px;
}

.text-hint-pass2 {
	width: 370px;
	padding: 15px 10px 16px 18px;
}

.line-pass2 {
	padding: 0;
	padding-top: 75px;
}

.container-line-pass2 {
	width: 40px;
}

.container-main-login {
	padding: 0;
	padding-top: 250px;
}

.label-login {
	background-image: url('/static/images/key.svg');
	background-repeat: no-repeat;
  	background-position: left center;
  	background-size: 18px 18px;
	background-position-x: 25px;
}

.label-password {
	background-image: url('/static/images/password.svg');
	background-repeat: no-repeat;
  	background-position: left center;
  	background-size: 18px 18px;
	background-position-x: 25px;
}

.bt-login {
	margin-bottom: 20px;
}

.bt-reautification {
	display: block;
	margin: 0 auto;
}

.container-main-verify {
	padding: 0;
	padding-top: 350px;
}

.bt-confirm {
	margin: 0;
	margin-bottom: 20px;
}

.container-error {
	padding: 0;
	padding: 350px;
}

.error-404 {
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 200px;
	line-height: 234px;
	align-items: center;
	text-align: center;

	color: #FCB700;
}

.error-massege {
	margin: 0;
	margin-bottom: 130px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 160%;
	text-align: center;
	color: #AEAFC1;
}

.link_error {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-decoration-line: underline;
	color: #FFFFFF;
}

.main-index {
	min-height: 1711px;
}

.index-heading {
	margin: 0 auto;
	margin-bottom: 59px;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	line-height: 150%;
	align-items: center;
	text-align: center;
	color: #AEAFC1;
	text-align: center;
}

.container-index {
	margin: 0 auto;
	padding: 0;
	padding-top: 221px;
}

.container-index-cards {
	margin: 0;
	margin-bottom: 50px;
}

.container-index-cards:last-child {
	margin-bottom: 62px;
}

.list-index-cards {
	display: flex;
	margin: 0;
	padding: 0;
}

.index-card {
	display: inline;
	margin: 0;
	margin-right: 50px;
	width: 490px;
	height: 240px;
	padding: 0;
	padding-top: 50px;
	align-items: center;
	text-align: center;
	background: #30353A;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
}

.index-card:last-child {
	margin-right: 0;
}

.text-card {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 150%;
	align-items: center;
	text-align: center;
	color: #FCB700;
}

.lower-index-text-card {
	font-size: 30px;
}

.text-details-index {
	margin: 0;
	margin-bottom: 43px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	color: #AEAFC1;
}

.text-calculate-index {
	margin: 0;
	margin-bottom: 29px;
	text-align: center;
	font-size: 48px;
}

.container-calc-profit {
	width: 735px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.list-input-index {
	display: flex;
	margin: 0;
	margin-bottom: 18px;
	padding: 0;
}

.item-input-index {
	display: inline;
	margin: 0;
	margin-right: 50px;
}

.item-input-index:last-child {
	margin-right: 0;
}

.label-index {
	width: 200px;
	height: 62px;
	padding: 0;
	padding-left: 30px;
	background: #F2F6FA;
	border-radius: 8px;
}

.remark-index {
	margin: 0;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 160%;
	color: #AEAFC1;
}

.bottom-heading-index {
	margin: 0;
	margin-bottom: 23px;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
	letter-spacing: -1px;
	color: #AEAFC1;
}

.link-instruction-index {
	display: block;
	margin: 0;
	margin-bottom: 91px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 143%;
	letter-spacing: -0.2px;
	color: #AEAFC1;
}

.text-instruction-index {
	margin: 0;
}

.link-register-index {
	display: block;
	width: 331px;
	height: 88px;
	margin: 0 auto;
	padding: 30px 50px;
	background: #FCB700;
	border-radius: 8px;
}

.elipse-top {
	left: 0%;
	top: 7%;
	transform: rotate(180deg);
}

.main-profile {
	min-height: 1000px;
}

.container-main-profile {
	display: flex;
	width: 80%;
}

.first-part {
	width: 20%;
	height: 100%;
	display: inline;
	padding: 160px 26px 162px 37px;
	background: #FCB700;
}

.second-part {
	width: 70%;
	height: 100%;
	display: inline;
	padding: 70px 0;
}

.heating-data {
	height: 30px;
	width: 209px;
	display: flex;
	margin: 0 auto;
	margin-bottom: 18px;
}

.username {
	width: 117px;
	margin: 0;
	margin-right: 67px;
	padding-left: 37px;
	padding-top: 7px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;

	color: #000000;
	background-image: url('/static/images/user.svg');
	background-repeat: no-repeat;
  	background-position: left center;
  	background-size: 30px 30px;
}

.block-data {
	margin: 0 auto;
	background: #1D202A;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	background-image: url('/static/images/line_card.svg');
	background-repeat: no-repeat;
  	background-position: left 30px;
  	background-size: 209px 5px;	
}

.balance-block {
	width: 209px;
	height: 104px;
	margin-bottom: 36px;
	padding: 9px 82px 22px 21px;
}

.heating-card-account {
	display: block;
	margin: 0;
	margin-bottom: 19px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: left;
	color: #FCB700;
}

.item-info-balance {
	margin: 0;
	margin-bottom: 6px;
	text-align: left;
}

.name-value-card-balance {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: left;
	color: #FCB700;
}

.value-card-balance {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: left;
	color: #AEAFC1;
}

.profit-block {
	width: 209px;
	height: 142px;
	margin-bottom: 36px;
	padding: 9px 17px 10px 21px;
}

.item-info-profit {
	display: flex;
	width: 171px;
	height: 24px;
	margin: 0;
	margin-bottom: 7px;
	align-items: center;
	text-align: left;
	line-height: 20px;
}

.item-info-profit:last-child {
	margin-bottom: 0;
}

.name-value-card-profit {
	width: 83px;
	height: 24px;
	margin: 0;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 20px;
	color: #AEAFC1;
}

.value-card-profit {
	width: 102px;
	height: 24px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 20px;
	color: #FCB700;
	background-image: url('/static/images/percent.svg');
	background-repeat: no-repeat;
  	background-position: right center;
  	background-size: 24px 24px;	
}

.status-heating-block {
	display: flex;
	height: 22px;
	margin-bottom: 15px;
}

.heating-card-account-status {
	width: 50px;
	height: 22px;
	display: inline;
	margin: 0;
	padding-top: 5px;
}

.status-card-account {
	width: 121px;
	height: 22px;
	text-align: right;
	padding-right: 22px;
	padding-top: 5px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #AEAFC1;
	background-repeat: no-repeat;
  	background-position: right center;
  	background-size: 15px 22px;	
}

.status-active {
	background-image: url('/static/images/active_img.svg');
}

.status-no-active {
	background-image: url('/static/images/no_active_img.svg');
}

.status-block {
	width: 209px;
	height: 104px;
	margin-bottom: 36px;
	padding: 9px 17px 0 21px;
	background-position: left 34px;
}

.text-card-statuse {
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 10px;
	text-align: left;
	color: #AEAFC1;
}

.name-value-card-statuse {
	margin-bottom: 10px;
}

.paid-block {
	width: 209px;
	height: 104px;
	padding: 9px 17px 17px 21px;
}

.item-info-paid {
	width: 153px;
	display: flex;
	margin: 0;
	margin-bottom: 6px;
	text-align: left;
}

.text-card-paid {
	width: 141px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	align-items: center;
	color: #AEAFC1;
}

.heating-second-part {
	margin: 0;
	margin-bottom: 24px;
	padding-left: 23px;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 132%;
	text-align: left;
	color: #FCB700;
}

.table-result {
	width: 100%;
	margin: 0;
	margin-left: 10%;
}

.item-table {
	height: 56px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	align-items: center;
	letter-spacing: 0.25px;
	color: #AEAFC1;
	background: #30353A;
	box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
}

.item-table-info {
	border-bottom: 3px solid #FCB700;;
}

.item-direction {
	border-radius: 4px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 0.4px;
	color: #1D202A;
}

.item-direction-up {
	padding: 5px 41px;
	background: #4AAF05;
}

.item-direction-down {
	padding: 5px 32px;
	background: #FB8832;
}

.elipse-top-lk {
	left: 0%;
	top: 0%;
	transform: rotate(180deg);
}

.line-header {
	position: absolute;
	left: 0%;
	top: 0%;
  	width: 100%;
	height: 100%;	
	z-index: 600;
	background-image: url('/static/images/line_header.svg');
	background-repeat: no-repeat;
  	background-position-x: 100%;
	background-position-y: 130px;
  	background-size: 90% 5px;
}

.change-data-window {
	position: fixed;
	left: 25%;
	top: 15%;
	z-index: 2000;
	width: 960px;
	height: 700px;
	display: none;
	background: #1D202A;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
}

.main-var-win {
	display: block;
}

.wallet-var-win {
	display: none;
	padding-top: 50px;
}

.pass-var-win {
	display: none;
	padding-top: 50px;
}

.block-chanche {
	display: flex;
	align-items: center;
	width: 798px;
	height: 68px;
	margin: 0 auto;
	margin-bottom: 90px;
}

.block-chanche-main-api {
	height: 155px;
}

.heat-edit-chanche {
	width: 153px;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 150%;
	align-items: center;
	color: #AEAFC1;
}

.heat-edit-api {
	display: block;
	margin: 0;
	margin-bottom: 48px;
}

.edit-change-api {
	display: block;
	margin: 0;
	margin-bottom: 19px;
}

.edit-change {
	width: 480px;
	height: 68px;
	margin-right: 26px;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 150%;
	color: #AEAFC1;
	background: #30353A;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	transform: rotate(-0.07deg);
}

.bt-open-change-win {
	width: 139px;
	height: 37px;
	padding: 8px 32px 8px 32px;
	align-items: center;
	text-align: center;
	background: #FCB700;
	border-radius: 8px;
	cursor: pointer;
}

.close-window {
	display: block;
	margin: 0;
	margin-bottom: 81px;
	padding: 0;
	margin-left: auto;
	margin-right: 0;
}

.update-input {
	display: block;
	width: 480px;
	height: 68px;
	margin: 0 0 117px 235px;
	padding-left: 41px;
	background: #30353A;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 24px;
	transform: rotate(-0.07deg);
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 150%;
	color: #AEAFC1;
}

.block-chanche-wallet {
	margin-bottom: 40px;
}

.bt-change {
	display: block;
	margin: 0 auto;
}

.list-edit-pass-change {
	margin: 0;
	margin-bottom: 72px;
	padding: 0;
}

.change-item {
	display: flex;
	height: 68px;
	margin: 0 auto;
	align-items: center;
}

.shower-pass {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.open-pass {
	display: inline;
}

.close-pass {
	display: none;
}

.change-pass {
	margin: 0;
}

.old-pass {
	margin-bottom: 65px;
	padding-left: 240px;
}

.new-pass {
	margin-bottom: 29px;
	padding-left: 240px;
}

.new-pass:last-child {
	margin-bottom: 0;
}

.pass-edit {
	margin-right: 15px;
}

.api-var-win {
	display: none;
}

.result-var-win {
	display: none;
}

.result-message {
	margin: 0;
	margin-left: 260px;
	margin-top: 260px;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 150%;
	color: #AEAFC1;
}

.block-chanche-api {
	padding-left: 50px;
}

.container-project {
	padding: 0;
	padding-top: 248px;
}

.heating-project {
	margin: 0;
	margin-bottom: 44px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	color: #AEAFC1;
}

.paragraph-project {
	margin: 0;
	margin-bottom: 30px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #AEAFC1;
}


.big-word-project {
	font-size: 36px;
}

.paragraph-project-no-indentation {
	margin: 0;
}

.paragraph-project-big-margin {
	margin-bottom: 138px;
}

.list-quality-project {
	margin: 0;
	margin-bottom: 128px;
	padding: 0;
}

.item-quality-project {
	width: 1577px;
	height: 170px;
	display: flex;
	margin: 0;
	margin-bottom: 40px;
}

.item-quality-project:last-child {
	margin: 0;
}

.first-item-quality-project {
	width: 745px;
	margin-right: 87px;
}

.second-item-quality-project {
	width: 745px;
}

.heating-cause {
	display: block;
	margin: 0;
	margin-bottom: 30px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	color: #FCB700;
}

.list-evidence {
	padding: 0;
	text-align: left;
}

.item-evidence {
	padding-left: 21px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #AEAFC1;
	background-image: url('/static/images/circle_list.svg');
	background-repeat: no-repeat;
  	background-position: left center;
  	background-size: 11px 11px;
}

.item-evidence-back-img {
	background-position-y: 8px;
}

.main-project {
	height: 3370px;
}

.paragraph-project-midlle-margin {
	margin-bottom: 40px;
}

.paragraph-project-little {
	font-size: 12px;
	line-height: 14px;
}

.paragraph-project-middle {
	font-size: 36px;
}

.excretion-faq {
	color: #FCB700;
}

.paragraph-project-big {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
	letter-spacing: -1px;
	color: #AEAFC1;
}
