<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        {% block header %}
            <header class="header" id="header">
                <div class="container">
                    <div class="flex-row">
                        <div class="logo">
                            <a class="logo-text" href="{% url 'index' %}">TRINETBIT</a>
                        </div>
                        <nav class="nav">
                            <ul class="nav-list">
                                <li class="item-nav"><a class="nav-link" href="{% url 'faq' %}">FAQ</a></li>
                                <li class="item-nav"><a class="nav-link" href="{% url 'project' %}">{% trans "О продукте" %}</a></li>
                                <li class="item-nav"><a class="nav-link" href="{% url 'index' %}">{% trans "Домой" %}</a></li>
                                {% if request.user.is_authenticated %}
                                    <li class="item-nav"><a class="nav-link" href="{% url 'personal_account' %}">{% trans "Личный кабинет" %}</a></li>
                                    <li class="item-nav"><a class="nav-link" href="{% url 'logout' %}">{% trans "Выйти" %}</a></li>
                                {% else %}
                                    <li class="item-nav"><a class="nav-link" href="{% url 'login' %}">{% trans "Войти" %}</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            {% get_current_language as LANGUAGE_CODE %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            {% if LANGUAGE_CODE == 'en' %}
                                <input class= "info_lan" name="language" type="hidden" value="ru" />
                                <input class="bt bt-on bt-ru" type="submit" value="RU" />
                                <input class="bt bt-off bt-en" type="submit" value="EN" disabled="true"/>
                            {% else %}
                                <input class="info_lan" name="language" type="hidden" value="en" />
                                <input class="bt bt-off bt-ru" type="submit" value="RU" disabled="false"/>
                                <input class="bt bt-on bt-en" type="submit" value="EN" />
                            {% endif %}
                        </form>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block content %}
        {% endblock content %}
        {% block footer%}
            <footer class="footer" id="footer">
                <div class="container container-footer">
                    <p class="text-footer domen">© trinetbit.com</p>
                    <p class="text-footer">
                        <a href="{% url 'eula' %}" class="span-footer">Пользовательское соглашение</a>
                        <a href="{% url 'private_policity' %}" >Политика конфиденциальности</a>
                    </p>
                </div>
            </footer>
            <script type="text/javascript">
                if (screenWidth < 1800) {
                    let content_main_page = document.getElementsByClassName('zoom-item');
                    for (var i = 0; i < content_main_page.length; i++) {
                        if (window.innerHeight > 900) {
                            content_main_page[i].style.transform = "scale(0.85, 0.85)";
                            document.getElementById('header').style.height = String(window.innerHeight * 0.07) + "px";
                            document.getElementById('header').style.padding = String(window.innerHeight * 0.01) + "px 0 0 0";
                            document.getElementById('footer').style.height = String(window.innerHeight * 0.07) + "px";
                        } 
                        else {
                            content_main_page[i].style.transform = "scale(0.8, 0.8)";
                        }
                    }
                    document.getElementById('footer').style.width = String(screenWidth) + "px";
                }
            </script>
        {% endblock footer%}


</body>
</html>