<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n %}
{% block content %}
<body>
    <main class="main main-profile" id="main-profile">
        <div class="container container-main container-main-profile"> 
            <div class="first-part" id="first-part">
                <div class="heating-data">
                    <span class="username">{{ request.user.username }}</span>
                    <input type="image" class="settings-bt" src="/static/images/coolicon.svg" id="open-window">
                </div>
                <div class="balance-block block-data">
                    <span class="heating-card-account">
                        Balance
                    </span>
                    <div class="item-info-balance">
                        <span class="name-value-card-balance">BTC</span>
                        <span class="value-card-balance">{{ balance_btc }}</span>
                    </div>
                    <div class="item-info-balance">
                        <span class="name-value-card-balance">USD</span>
                        <span class="value-card-balance">{{ balance_usdt }}</span>
                    </div>
                </div>
                <div class="profit-block block-data">
                    <span class="heating-card-account">
                        Profits
                    </span>
                    <div class="item-info-profit">
                        <span class="name-value-card-profit">DAY</span>
                        <span class="value-card-profit">{{ day_profit }}</span>
                    </div>
                    <div class="item-info-profit">
                        <span class="name-value-card-profit">MON</span>
                        <span class="value-card-profit">{{ month_profit }}</span>
                    </div>
                    <div class="item-info-profit">
                        <span class="name-value-card-profit">YEAR</span>
                        <span class="value-card-profit">{{ year_profit }}</span>
                    </div>
                </div>
                <div class="status-block block-data">
                    <div class="status-heating-block">
                        <span class="heating-card-account heating-card-account-status">
                            Status
                        </span>
                        {% if status_code == '0' %}
                            <span class="status-card-account status-active" id="status">
                                {{status}}
                            </span>
                        {% else %}
                            <span class="status-card-account status-no-active">
                                {{status}}
                            </span>
                        {% endif %}
                    </div>
                    <p class="name-value-card-statuse text-card-statuse">Note:</p>
                    {% if status == 'No active' %}
                        <p class="text-card-statuse">{{ cause }}</p>
                    {% endif %}
                </div>
                <div class="paid-block block-data">
                    <span class="heating-card-account">
                        Amount to be paid
                    </span>
                    <div class="item-info-paid">
                        <span class="text-card-paid">{{sum_paid}} USDT</span>
                        <input type="image" class="clipp-bt" src="/static/images/copy.svg" id="bt-sum-paid">
                    </div>
                    <div class="item-info-paid">
                        <span class="text-card-paid">Wallet: TJz...e4X</span>
                        <input type="image" class="clipp-bt" src="/static/images/copy.svg" id="bt-id-wallet">
                    </div>
                </div>
                <div class="paid-block block-data">
                    <span class="heating-card-account">
                        Registered wallet
                    </span>
                    <div class="item-info-paid">
                        <span class="text-card-paid">Wallet: {{wallet}}</span>
                        <input type="image" class="clipp-bt" src="/static/images/copy.svg" id="bt-id-wallet-client">
                    </div>
                </div>
            </div>
            <div class="second-part" id="second-part">
                <h2 class="heating-second-part">Orders</h2>
                <table class="table-result">
                    <thead>
                        <tr class="header-table">
                            <th class="item-table">Information Number</th>
                            <th class="item-table">Balance Changes</th>
                            <th class="item-table">Changes in BTC</th>
                            <th class="item-table">Changes in USD</th>
                            <th class="item-table">Date</th>
                            <th class="item-table">Changes direction</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in list_data %}
                            <tr>
                                {% for value in data %}
                                    {% if value == 'up' %}
                                        <td class="item-table item-table-info"><span class="item-direction item-direction-up">{{ value }}</span></td>
                                    {% elif value == 'down' %}
                                        <td class="item-table item-table-info"><span class="item-direction item-direction-down">{{ value }}</span></td>
                                    {% else %}
                                        <td class="item-table item-table-info">{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="elipse"></div>
        <div class="elipse elipse-top-lk"></div>
        <div class="line-header"></div>
        <div class="change-data-window" id="change-data-window">
            <input type="image" src="/static/images/close.svg" class="close-window" id="close-window">
            <div class="main-var-win" id="main-var-win">
                <div class="block-chanche"><span class="heat-edit-chanche">BTC Wallet</span> <input type="text" disabled value="{{wallet}}" class="edit-change"> <button type="submit" class="bt-open-change-win" id="bt-open-wallet">Изменить</button></div>
                <div class="block-chanche"><span class="heat-edit-chanche">Password</span> <input type="text" disabled value="{{password}}" class="edit-change"> <button type="submit" class="bt-open-change-win" id="bt-open-pass">Изменить</button></div>
                <div class="block-chanche block-chanche-main-api">
                    <div>
                        <span class="heat-edit-chanche heat-edit-api">Api key</span>
                        <span class="heat-edit-chanche">Api secret</span>
                    </div>
                    <div>
                        <input type="text" disabled value="{{api_key}}" class="edit-change edit-change-api">
                        <input type="text" disabled value="{{api_secret}}" class="edit-change">
                    </div>
                    <button type="submit" class="bt-open-change-win" id="bt-open-api">Изменить</button>
                </div>
            </div>
            <div class="wallet-var-win" id="wallet-var-win">
                <form method="post">
                    {% csrf_token %}
                    <div class="block-chanche block-chanche-wallet"><span class="heat-edit-chanche">BTC Wallet</span><input type="text" disabled value="{{wallet}}" class="edit-change"></div>
                    {{form_wall.wallet_address}}
                    <button type="submit" class="bt-open-change-win bt-change" name="ch_wall">Изменить</button>
                </form>
            </div>
            <div class="pass-var-win" id="pass-var-win">
                <form method="post">
                    {% csrf_token %}
                    <ul class="list-edit-pass-change">
                        <li class="change-item old-pass">
                            {{form_pass.old_password}}
                            <img type="image" src="/static/images/cl_eye.svg" class="shower-pass open-pass" id="open-oldpass" alt="show">
                            <img type="image" src="/static/images/eye.svg" class="shower-pass close-pass" id="close-oldpass" alt="hide">
                        </li>
                        <li class="change-item new-pass">
                            {{form_pass.password1}}
                            <img type="image" src="/static/images/cl_eye.svg" class="shower-pass open-pass" id="open-pass1" alt="show">
                            <img type="image" src="/static/images/eye.svg" class="shower-pass close-pass" id="close-pass1" alt="hide">
                        </li>
                        <li class="change-item new-pass">
                            {{form_pass.password2}}
                            <img type="image" src="/static/images/cl_eye.svg" class="shower-pass open-pass" id="open-pass2" alt="show">
                            <img type="image" src="/static/images/eye.svg" class="shower-pass close-pass" id="close-pass2" alt="hide">
                        </li>
                    </ul>
                    <button type="submit" class="bt-open-change-win bt-change" name="ch_pass">Изменить</button>
                </form>
            </div>
            <div class="api-var-win" id="api-var-win">
                <form method="post">
                    {% csrf_token %}
                    <div class="block-chanche block-chanche-api"><span class="heat-edit-chanche">Api key</span>{{form_api.api_key}}</div>
                    <div class="block-chanche block-chanche-api"><span class="heat-edit-chanche">Api secret</span>{{form_api.api_secret}}</div>
                    <button type="submit" class="bt-open-change-win bt-change" name="ch_api">Изменить</button>
                </form>
            </div>
            <div class="result-var-win" id="result-var-win">
                <p class="result-message">{{message}}</p>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        const screenWidth = window.innerWidth

        if (screenWidth < 1800) {
            if (window.innerHeight > 900) {
                document.getElementById('main-profile').style.width = String(screenWidth) + "px";
                document.getElementById('first-part').style.padding = "160px 50px 162px 0";
                document.getElementById('first-part').style.width = "22%";
                document.getElementById('second-part').style.width = "68%";
                document.getElementById('change-data-window').style.transform = "scale(0.8, 0.8)";
                document.getElementById('change-data-window').style.left = "10%";
            } 
            else {
                document.getElementById('first-part').style.padding = "160px 42px 162px 20px";
                document.getElementById('change-data-window').style.transform = "scale(0.9, 0.9)";
            }
        }

        let bt_sum_paid = document.getElementById('bt-sum-paid');
            bt_id_wallet = document.getElementById('bt-id-wallet');
            input_wallet = document.getElementById('id_wallet_address');
            bt_close = document.getElementById('close-window');
            bt_open = document.getElementById('open-window');
            bt_open_wallet = document.getElementById('bt-open-wallet');
            bt_open_pass = document.getElementById('bt-open-pass');
            bt_open_api = document.getElementById('bt-open-api');
            input_old_pass = document.getElementById('id_old_password');
            input_pass1 = document.getElementById('id_password1');
            input_pass2 = document.getElementById('id_password2');
            input_api_key = document.getElementById('id_api_key');
            input_api_secret = document.getElementById('id_api_secret');
            bt_open_ps1 = document.getElementById('open-pass1');
            bt_open_ps2 = document.getElementById('open-pass2');
            bt_open_ops = document.getElementById('open-oldpass');
            bt_close_ps1 = document.getElementById('close-pass1');
            bt_close_ps2 = document.getElementById('close-pass2');
            bt_close_ops = document.getElementById('close-oldpass');

        function open_var_api() {
            document.getElementById('main-var-win').style.display = "none";    
            document.getElementById('api-var-win').style.display = "block";    
        }

        function open_var_pass() {
            document.getElementById('main-var-win').style.display = "none";    
            document.getElementById('pass-var-win').style.display = "block";    
        }

        function open_var_wallet() {
            document.getElementById('main-var-win').style.display = "none";    
            document.getElementById('wallet-var-win').style.display = "block";    
        }
            
        function close_window() {
            document.getElementById('change-data-window').style.display = "none";   
        }
        
        function open_window() {
            document.getElementById('change-data-window').style.display = "block";    
            document.getElementById('main-var-win').style.display = "block";    
            document.getElementById('wallet-var-win').style.display = "none";  
            document.getElementById('pass-var-win').style.display = "none";
            document.getElementById('api-var-win').style.display = "none"; 
            document.getElementById('result-var-win').style.display = "none";    
        }

        function copy_sum_paid() {
            navigator.clipboard.writeText("{{sum_paid}}");    
        }

        function copy_id_wallet() {
            navigator.clipboard.writeText("TJznWFhGQSde5QKyHgpTCrRLZxZRVUTe4X");    
        }

        function copy_id_wallet_client() {
            navigator.clipboard.writeText("{{id_wallet}}");    
        }

        function removePlaceholderWallet(input_wallet)  {
            if (input_wallet.value == "Введите новый кошелек") {
                input_wallet.value = "";
            }
        }

        function replacePlaceholderWallet(input_wallet)  {
            if (input_wallet.value == "") {
                input_wallet.value = "Введите новый кошелек";
            }
        }

        function removePlaceholderOldPassword(input_pass)  {
            if (input_pass.value == "Введите старый пароль") {
                input_pass.value = "";
                input_pass.type = "password";
            }
        }

        function replacePlaceholderOldPassword(input_pass)  {
            if (input_pass.value == "") {
                input_pass.value = "Введите старый пароль";
                input_pass.type = "text";
                document.getElementById('open-oldpass').style.display = "block";
                document.getElementById('close-oldpass').style.display = "none";   
            }
        }

        function removePlaceholderPassword1(input_pass1)  {
            if (input_pass1.value == "Введите новый пароль") {
                input_pass1.value = "";
                input_pass1.type = "password";
            }
        }

        function replacePlaceholderPassword1(input_pass1)  {
            if (input_pass1.value == "") {
                input_pass1.value = "Введите новый пароль";
                input_pass1.type = "text";
                document.getElementById('open-pass1').style.display = "block";
                document.getElementById('close-pass1').style.display = "none";
            }
        }

        function removePlaceholderPassword2(input_pass2)  {
            if (input_pass2.value == "Повторите пароль") {
                input_pass2.value = "";
                input_pass2.type = "password";
            }
        }

        function replacePlaceholderPassword2(input_pass2)  {
            if (input_pass2.value == "") {
                input_pass2.value = "Повторите пароль";
                input_pass2.type = "text";
                document.getElementById('open-pass2').style.display = "block";
                document.getElementById('close-pass2').style.display = "none";
            }
        }

        function open_pass1() {  
            edit = document.getElementById('id_password1')
            if (edit.value != "Введите новый пароль") {
                edit.type = "text";
                document.getElementById('open-pass1').style.display = "none";
                document.getElementById('close-pass1').style.display = "block";
            }        

        }

        function open_pass2() {
            edit = document.getElementById('id_password2')
            if (input_pass2.value != "Повторите пароль") {
                edit.type = "text";  
                document.getElementById('open-pass2').style.display = "none";
                document.getElementById('close-pass2').style.display = "block";
            }      
        }

        function open_oldpass() {
            edit = document.getElementById('id_old_password')
            if (input_old_pass.value != "Введите старый пароль") {
                edit.type = "text";  
                document.getElementById('open-oldpass').style.display = "none";
                document.getElementById('close-oldpass').style.display = "block";
            }      
        }

        function close_pass1() {
            document.getElementById('id_password1').type = "password";
            document.getElementById('open-pass1').style.display = "block";
            document.getElementById('close-pass1').style.display = "none";        

        }

        function close_pass2() {
            document.getElementById('id_password2').type = "password";  
            document.getElementById('open-pass2').style.display = "block";
            document.getElementById('close-pass2').style.display = "none";        
        }

        function close_oldpass() {
            document.getElementById('id_old_password').type = "password";  
            document.getElementById('open-oldpass').style.display = "block";
            document.getElementById('close-oldpass').style.display = "none";        
        }

        function removePlaceholderKey(input_key)  {
            if (input_key.value == "Введите новый ключ") {
                input_key.value = "";
            }
        }

        function replacePlaceholderKey(input_key)  {
            if (input_key.value == "") {
                input_key.value = "Введите новый ключ";
            }
        }

        function removePlaceholderSecret(input_secret)  {
            if (input_secret.value == "Введите новый секрет") {
                input_secret.value = "";
            }
        }

        function replacePlaceholderSecret(input_secret)  {
            if (input_secret.value == "") {
                input_secret.value = "Введите новый секрет";
            }
        }
        
        bt_open_ps1.addEventListener("click", open_pass1);
        bt_open_ps2.addEventListener("click", open_pass2);
        bt_open_ops.addEventListener("click", open_oldpass);
        bt_close_ps1.addEventListener("click", close_pass1);
        bt_close_ps2.addEventListener("click", close_pass2);
        bt_close_ops.addEventListener("click", close_oldpass);
        bt_sum_paid.addEventListener("click", copy_sum_paid);
        bt_id_wallet.addEventListener("click", copy_id_wallet);
        document.getElementById("bt-id-wallet-client").addEventListener("click", copy_id_wallet_client);
        bt_open_api.addEventListener("click", open_var_api);
        input_wallet.value = "Введите новый кошелек";
        input_wallet.setAttribute('onBlur', "replacePlaceholderWallet(this)");
        input_wallet.setAttribute('onFocus', "removePlaceholderWallet(this)");
        input_old_pass.value = "Введите старый пароль";
        input_old_pass.type = 'text';
        input_old_pass.setAttribute('onBlur', "replacePlaceholderOldPassword(this)");
        input_old_pass.setAttribute('onFocus', "removePlaceholderOldPassword(this)");
        input_pass1.value = "Введите новый пароль";
        input_pass1.type = 'text';
        input_pass1.setAttribute('onBlur', "replacePlaceholderPassword1(this)");
        input_pass1.setAttribute('onFocus', "removePlaceholderPassword1(this)");
        input_pass2.value = "Повторите пароль";
        input_pass2.type = 'text';
        input_pass2.setAttribute('onBlur', "replacePlaceholderPassword2(this)");
        input_pass2.setAttribute('onFocus', "removePlaceholderPassword2(this)");
        input_api_key.value = "Введите новый ключ";
        input_api_key.setAttribute('onBlur', "replacePlaceholderKey(this)");
        input_api_key.setAttribute('onFocus', "removePlaceholderKey(this)");
        input_api_secret.value = "Введите новый секрет";
        input_api_secret.setAttribute('onBlur', "replacePlaceholderSecret(this)");
        input_api_secret.setAttribute('onFocus', "removePlaceholderSecret(this)");
        bt_close.addEventListener("click", close_window);
        bt_open.addEventListener("click", open_window);
        bt_open_wallet.addEventListener("click", open_var_wallet);
        bt_open_pass.addEventListener("click", open_var_pass);
        if ("{{result}}" != "none") {
            document.getElementById('change-data-window').style.display = "block"; 
            document.getElementById('main-var-win').style.display = "none";    
            document.getElementById('result-var-win').style.display = "block";    
        } 

    </script>
</body>
{% endblock %}