<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/register_users.css">
        <link rel="shortcut icon" href="{% static 'assets/logo.png' %}" type="image/x-icon">
        <title>TRINETBIT</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <header>
                    <nav class="navbar navbar-expand-xl bg-transparent navbar-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{% url 'index' %}">
                                <img src="../static/assets/logo.png" alt="Логотип" class="d-inline-block align-text-top logo">
                                <span class="navbar-brand-text">
                                    TRINETBIT
                                </span>
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="{% url 'faq' %}">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'project' %}">{% trans "О продукте" %}</a>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'personal_account' %}">{% trans "Личный кабинет" %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'logout' %}">{% trans "Выйти" %}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'login' %}">{% trans "Войти" %}</a>
                                        </li>
                                    {% endif %}
                                    <li class="my-auto mx-0">
                                        <form action="{% url 'set_language' %}" method="post">
                                            {% csrf_token %}
                                            {% get_current_language as LANGUAGE_CODE %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                                            {% if LANGUAGE_CODE == 'en' %}
                                                <input class= "info_lan" name="language" type="hidden" value="ru" />
                                            {% else %}
                                                <input class= "info_lan" name="language" type="hidden" value="en" />
                                            {% endif %}
                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                                <label class="btn btn-outline-primary" for="btnradio1">RU</label>

                                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="btnradio3">EN</label>
                                            </div>
                                        </form>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </nav>
                </header>
            </div>
            <div class="container-fluid register">
                <div class="bg-img">
                    <img src="../static/assets/right_back.png" />
                </div>
                <div class="container">
                    <form class="form-register" method="post">
                        {% csrf_token %}
                        <div class="d-flex flex-column align-items-center mt-5 ">
                            <div class="register-form">
                                <div class="input-container api-key">
                                    <img src="../static/assets/top_line.png" class="group1-desc"/>
                                    {{ form.api_key }}
                                    <div class="description group1-desc">
                                        <span class="link">API key</span>{% trans " и " %}<span class="link">API secret</span> {% trans "неооходимы для того, что бы открывать и закрывать сделки на бирже" %}.
                                        {% trans "Подробнее о том, как это работает читайте в разделе “Как это работает” на странице" %} “<a href="{% url 'project' %}" class="link">{% trans "О продукте" %}</a>”.
                                        {% trans "Подробнее о самой самом API читайте на сайте" %}<a href="https://bybit-exchange.github.io/docs/linear/#t-introduction" class="link">Bybit</a>.
                                    </div>
                                </div>
                                <div class="input-container api-secret">
                                    <img src="../static/assets/bottom_line.png"  class="group1-desc"/>
                                    {{ form.api_secret }}
                                    <div class="description-mobile group1-mobile mt-2">
                                        <span class="link">API key</span> {% trans " и " %} <span class="link">API secret</span> {% trans "неооходимы для того, что бы открывать и закрывать сделки на бирже" %}.
                                        {% trans "Подробнее о том, как это работает читайте в разделе “Как это работает” на странице" %} “<a href="{% url 'project' %}" class="link">{% trans "О продукте" %}</a>”.
                                        {% trans "Подробнее о самой самом API читайте на сайте" %} <a href="https://bybit-exchange.github.io/docs/linear/#t-introduction" class="link">Bybit</a>.
                                    </div>
                                </div>
                                <div class="input-container">
                                    <img src="../static/assets/line.png" class="group2-desc left-line">
                                    {{ form.username }}
                                    <div class="description-container group2-desc left-block">
                                        {% trans "Имя пользователя должно содержать" %} <span class="link">{% trans "от 3 до 20" %}</span> {% blocktrans %}символов, и не должно противоречить нормам
                                        и действующему законодательству страны клиента.{% endblocktrans %}
                                    </div>
                                    <div class="description-mobile group2-mobile mt-2">
                                        {% trans "Имя пользователя должно содержать" %} <span class="link">{% trans "от 3 до 20" %}</span> {% blocktrans %}символов, и не должно противоречить нормам
                                        и действующему законодательству страны клиента.{% endblocktrans %}
                                    </div>
                                </div>
                                <div class="input-container">
                                    <img src="../static/assets/line.png" class="group3-desc right-line">
                                    {{ form.email }}
                                    <div class="description-container group3-desc right-block">
                                        {% trans "Пожалуйста, вводите" %} <span class="link">{% trans "действительный" %}</span> {%blocktrans %}адрес электронной почты. На него придет код подтверждения.
                                        Так же с помощью него можно будет сбросить пароль от личного кабинета.{% endblocktrans %}
                                    </div>
                                    <div class="description-mobile group3-mobile mt-2">
                                        {% trans "Пожалуйста, вводите" %} <span class="link">{% trans "действительный" %}</span> {%blocktrans %}адрес электронной почты. На него придет код подтверждения.
                                        Так же с помощью него можно будет сбросить пароль от личного кабинета.{% endblocktrans %}
                                    </div>
                                </div>
                                <div class="input-container">
                                    <img src="../static/assets/line.png" class="group4-desc left-line">
                                    {{ form.wallet_address }}
                                    <div class="description-container group4-desc left-block">
                                        {% blocktrans %}Номер BTC кошелька, с которого будут выполнятся переводы вознаграждения.
                                        Он необходим для сверки поступающих средств и продления доступа к площадке.{% endblocktrans %}
                                    </div>
                                    <div class="description-mobile group4-mobile mt-2">
                                        {% blocktrans %}Номер BTC кошелька, с которого будут выполнятся переводы вознаграждения.
                                        Он необходим для сверки поступающих средств и продления доступа к площадке.{% endblocktrans %}
                                    </div>
                                </div>
                                <div class="input-container">
                                    <img src="../static/assets/line.png" class="group5-desc right-line">
                                    {{ form.password1 }}
                                    <div class="description-container group5-desc right-block">
                                        {% trans "Обратите внимание, пароль должен состоять" %} <span class="link">{% trans "не менее" %}</span>, {% trans "чем из" %} <span class="link">8</span> {% trans "символов" %}.
                                        {% trans "Содержать цифру, один из спецсимволов, строчные и заглавные буквы" %}.
                                    </div>
                                    <div class="description-mobile group5-mobile mt-2">
                                        {% trans "Обратите внимание, пароль должен состоять" %} <span class="link">{% trans "не менее" %}</span>, {% trans "чем из" %} <span class="link">8</span> {% trans "символов" %}.
                                        {% trans "Содержать цифру, один из спецсимволов, строчные и заглавные буквы" %}.
                                    </div>
                                </div>
                                <div class="input-container">
                                    <img src="../static/assets/line.png" class="group6-desc left-line">
                                    {{ form.password2 }}
                                    <div class="description-container group6-desc left-block">
                                        {% trans "Пожалуйста, повторите пароль" %}.
                                    </div>
                                    <div class="description-mobile group6-mobile mt-2">
                                        {% trans "Пожалуйста, повторите пароль" %}.
                                    </div>
                                </div>
                                {% if error_message %}
                                    <div class="input-container">
                                        <p>{{ error_message }}</p>
                                    </div>
                                {% endif %}
                                <div class="input-container mb-5">
                                    <button type="submit" class="registration-button">
                                        {% trans "ЗАРЕГИСТРИРОВАТЬСЯ" %}
                                    </button>
                                </div>
                            </div>
                            <div class="check-agreement mb-5">
                                <div class="form-check">
                                    {{ form.agreement }}
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {% trans "Я принимаю условия" %} <a href="{% url 'eula' %}" class="link">{% trans "Пользовательского соглашения" %}</a> {% blocktrans %}и даю
                                        своё согласие TRINETBIT на обработку моей персональной информации на условиях, определенных{% endblocktrans %} <a href="{% url 'private_policity' %}" class="link">{% trans "Политикой конфиденциальности" %}</a>.
                                    </label>
                                </div>
                                <div class="form-check mt-3">
                                    {{ form.mailing }}
                                    <label class="form-check-label" for="flexCheckChecked">
                                        {% blocktrans %}Я <span class="link">НЕ хочу</span> получать информационную рассылку данного сервиса.{% endblocktrans %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <footer class="container">
                <div class="d-flex flex-column">
                    <div class="row mb-2">
                        <div class="col text-center footer-site">
                            © trinetbit.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 agreement">
                            <a href="{% url 'eula' %}">
                                {% trans "Пользовательское соглашение" %}
                            </a>
                        </div>
                        <div class="col-12 col-md-6 confident">
                            <a href="{% url 'private_policity' %}">
                                {% trans "Политика конфиденциальности" %}
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="../static/js/register_notes.js"></script>
        <script src="../static/js/settings_lang.js"></script>
    </body>
</html>